/* CSForeachers CSS File */
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1vw;
}

h1 {
    font-size: 3vw;
    
}

p{
    font-size: 2vw;
     text-align: left;
}
body{
    background-image: linear-gradient(to left,rgb(163, 169, 240),rgb(0, 153, 255), rgb(219, 111, 178),rgb(177, 79, 216) );
    opacity : 1;
}
img{
    
    border-radius: 100px;
    padding: 10px;
    width: 250px;
    height: 80px;
    float: left;
  
}

.button{
    background-color:rgb(207, 132, 230) ;
    font-size: 40px; 
    
}
a{
    text-decoration: none;
}

form {
    text-align: left;
    padding-left: 5%;
    margin: 20px;
    border-style: solid;
    border-width: 5px;
}

